{% extends 'Users/layout.html' %}
{% block body %}
{% if request.session.username %}
        <h2>Welcome   <small>{{ request.session.username }}</small></h2>
        <a class="btn btn-success" href="/add_task">Add Task</a>
        <hr>
         <table class="table table-striped">
            <tr>
              <th>ID</th>
              <th>Task</th>
              <th>Deadline</th>
              <th></th>
              <th></th>
            </tr>
            
            {% for content in content %}
            <tr>
                <td>{{content.id}}</td>
                <td>{{content.task}}</td>
                <td>{{content.deadline}}</td>
                <td><a href="/edit_task/{{content.id}}" class="btn btn-default pull-right">Edit</a></td>
                <td><a href="/delete_task/{{content.id}}" class="btn btn-danger">Delete</a></td>
              </tr>
            {% endfor %}
{% else %}          
        <script type="text/javascript">
            alert("please login first")
            window.location.replace('{% url 'Users:login' %}')
        </script>
{% endif %}
  </table>


{% endblock %}